/*
 * This is where you add your API tokens, passwords, etc.
 * You must remove the .TEMPLATE and rename this file
 * to "credentials.js".
 */
module.exports = {
	// *Required* Bot token. Found on bots application page.
	'DISCORD_TOKEN':
		'token',

	// *Required* Challonge API key. Used to connect to Challonge.
	'CHALLONGE_TOKEN':
		'token',

	// Optional: fake bots who echo when testing
	// add as many as you like
	'TEST_TOKENS': [
		'token1',
		'token2',
		'token3',
	]
};
